<header>
  <ul>
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/cars">All cars</a>
    </li>
    <li *ngIf="authService.isAdmin()">
      <a routerLink="/cars/create">Add car</a>
    </li>
    <li *ngIf="authService.isAuthenticated() && !authService.isAdmin()">
      <a routerLink="/cars/myrents">My rents</a>
    </li>

    <div class="right">
      <li *ngIf="isLoggedIn">Welcome, {{username}}!</li>
      <li *ngIf="authService.isAuthenticated()">
        <a routerLink="/profile">Profile</a>
      </li>
      <li *ngIf="authService.isAuthenticated()">
        <a (click)="logout()">Logout</a>
      </li>
      <li *ngIf="!authService.isAuthenticated()">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="!authService.isAuthenticated()">
        <a routerLink="/register">Register</a>
      </li>
    </div>
  </ul>
</header>